.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.btn{
margin-left:45%;
margin-right: 60%;
margin-top: 30px;
background-color: #e9ecf1;
color:black;
border-radius: 10px;
padding-left:15px;
padding-right: 15px;
padding-top: 5px;
padding-bottom: 5px;
text-align: center;
font-size: xx-large;
}
